<app-header></app-header>
<main class="page">
  <section style="background: url(/assets/img/matias-about-us.png?h=dd80fdeaebafffd4aad7861c5124d0aa) center / cover;height: 100vh; padding-top: 50px;">
      <div style="height: 100vh;background-color: rgba(20,19,19,0.78);">
          <div class="container" style="margin-top: 30px;">
              <div class="block-heading" style="width: 768px;margin: auto;padding-bottom: 30px;padding-top: 100px;padding-right: 10px;padding-left: 10px;">
                  <p class="text-justify" data-aos="fade-right" data-aos-duration="150" style="max-width: 750px;color: rgb(255,255,255);text-align: center;font-family: Montserrat, sans-serif;font-size: 20px;margin-bottom: 20px;"><strong>MatiasAPP </strong>es una aplicación <strong>en la nube</strong> desarrollada por la empresa <strong>LOPEZSOFT S.A.S, </strong>con la finalidad de brindarle a: <strong>los profesionales independientes, micro empresas, empresas de servicios o pymes</strong>,
                      una solución informática moderna e intuitiva y de fácil manejo para la emisión de documentos electrónicos a la <strong>DIAN</strong>; cumpliendo con la normativa vigente.</p>
                  <p class="text-justify" data-aos="fade-left" data-aos-duration="150"
                      data-aos-delay="150" style="max-width: 750px;color: rgb(255,255,255);text-align: center;font-family: Montserrat, sans-serif;font-size: 20px;">En el 2020 firmamos un acuerdo comercial y de exclusividad con la empresa <strong>SG-B, ubicada en Bogotá,&nbsp;</strong>buscando cubrir la mayor parte del territorio nacional con nuestra solución.</p>
                <div class="icons">
                  <a href="https://www.facebook.com/lopezsoft.co/" target="_blank"><i class="icon-social-facebook"></i></a>
                    <a href="https://www.instagram.com/lopezsoft_s.a.s" target="_blank"> <i class="icon-social-instagram"></i></a>
                    <a href="https://twitter.com/Lopezsoftsas" target="_blank"> <i class="icon-social-twitter"></i></a>
                </div>
              </div>
            </div>
      </div>
  </section>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
