<app-header></app-header>
<main class="page">
  <section class="clean-block features full-height" style="background-color: #b02088;padding-top: 100px;">
      <div class="container" style="margin-top: 30px;">
          <h3 data-aos="fade-left" style="color: rgb(255,255,255);text-align: center;margin: auto;padding-top: 20px;padding-bottom: 20px;">Software en la nube para <strong>facturación electrónica</strong>, control de inventarios, sistema pos, compras, proveedores, Etc. Todo integrado en una solo herramienta.</h3>
      </div>
      <div class="container">
          <div class="row">
              <div class="padding-10 col-12 col-sm-12 col-xs-4 col-md-4">
                  <div class="card thum-purple"><img class="card-img-top w-100 d-block" src="/assets/img/matias-inventarios.png?h=85d7bf4fee68654b636a065a402c9c8f">
                      <div class="card-body">
                          <h5 class="text-center card-title"><strong>Control de inventarios</strong></h5>
                          <p class="card-text">Potencie el control de existencias de su negocio, evite perdida de mercancía, <strong>control de caducidades</strong>, control de<strong> productos, categorías o familias</strong> de productos, <strong>marcas, unidades de medida</strong>.</p>
                      </div>
                  </div>
              </div>
              <div class="padding-10 col-12 col-sm-12 col-xs-4 col-md-4">
                  <div class="card thum-purple"><img class="card-img-top w-100 d-block" src="/assets/img/matias-transaction-factura-electronica.png?h=ec821a241d60719b236208824ecfeb59">
                      <div class="card-body">
                          <h5 class="card-title"><strong>Facturación electrónica</strong></h5>
                          <p class="card-text">Cumpla con todas las <strong>exigencias de la DIAN</strong> en el envío de los documentos electrónicos. envíe <strong>Facturas electrónicas, notas débito y crédito, facturas por contingencia, </strong>correos a sus clientes.</p>
                      </div>
                  </div>
              </div>
              <div class="padding-10 col-12 col-sm-12 col-xs-4 col-md-4">
                  <div class="card thum-purple"><img class="card-img-top w-100 d-block" src="/assets/img/matias-sistema.pos.png?h=dc7f4e5baa2593ba3361757af1f30206">
                      <div class="card-body">
                          <h5 class="card-title"><strong>Sistema pos</strong></h5>
                          <p class="card-text">Maneje su punto de venta de forma ágil y sencilla, monitorización en tiempo real, apertura, cuadre y cierre de cajas desde cualquier lugar.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="section-blue" style="height: 100vh;">
      <div class="container">
          <section class="index-howto-alt py-3" style="color: rgb(255,255,255);">
              <div class="container">
                  <h2 class="text-center mb-3" style="font-size: 20px;padding: 20px;"><strong>VENTAJAS DE NUESTRA&nbsp;SOLUCIÓN PARA FACTURA ELECTRÓNICA</strong><br></h2>
                  <div style="position:relative;">
                      <div class="row">
                          <div class="col-12 col-sm-12 col-md-8">
                              <div class="items-check" style="margin: 0 auto;">
                                <span class="list"> Facture en modo de <strong>Software propio</strong>.</span><br>
                                <span class="list"> Integración con su <strong>ERP o sistema contable</strong>.</span><br>
                                <span class="list"> Soporte y actualizaciones <strong>Gratis</strong>.</span><br>
                                <span class="list"> Garantía de un año.</span><br>
                                <span class="list"> Puede facturar desde la <strong>nube o el móvil </strong>(APP Móvil en desarrollo).</span><br>
                                <span class="list"> No pierde la información de productos ni clientes existentes, ya que hacemos la migración de toda la información.</span><br>
                                <span class="list"> Realizamos el procesp de habilitación de la FE ante la DIAN.</span><br>
                                <span class="list"> Realizamos el proceso de adquisición de certificado de firma digital ante <strong>Certicamara</strong>.</span><br>
                                <span class="list"> Representación gráfica de la factura en: <strong>Word, Excel, PowerPoint y PDF</strong>.</span><br>
                                <span class="list"> Múltiples reportes y estadísticas.</span><br>
                                <span class="list"> Mas de 10 años de experiencia en el desarrollo de Software a la medida.</span><br>
                                <span class="list"> Firma digital incluida anualmente, <strong>en algunos Planes</strong>.</span><br>
                              </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-4 hidde-img" style="border-style: none;">
                            <img class="img-fluid hidde-img" data-aos="fade-right" data-aos-duration="200" src="/assets/img/matias-personaje-01.png?h=522965ff201bd862f6c9441ee38cff78"
                            style="height: 550px;">
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </section>
  <section class="section-orange" style="height: 100vh;">
      <div class="container">
          <section class="index-howto-alt py-3" style="color: rgb(255,255,255);">
              <div class="container">
                  <h2 class="text-center mb-3" style="font-size: 20px;padding: 20px;"><strong>MODULOS INLUIDOS CON LA SOLUCION DE FACURA ELECTRONICA</strong><br></h2>
                  <div style="position:relative;">
                      <div class="row">
                          <div class="col-12 col-sm-12 col-md-4 hidde-img" style="border-style: none;"><img class="img-fluid hidde-img" data-aos="fade-left" data-aos-duration="250" data-aos-delay="300" data-aos-once="true" src="/assets/img/matias-woman-01-izquierda.png?h=f682eaa9b18c006b87472ecf8449a84e" style="height: 550px;"></div>
                          <div class="col-12 col-sm-12 col-md-8">
                              <div class="items-check" style="margin: 0 auto;"><span class="list">	Facturación electrónica.</span><br>
                                <span class="list">	Factura por computador.</span><br>
                                <span class="list">	Sistema Pos.</span><br>
                                <span class="list">	Compras, Ventas e inventario y cotizaciones</span><br>
                                <span class="list">	Informes y estadísticas.</span><br>
                                <span class="list">	Notas débito y crédito.</span><br>
                                <span class="list">	Productos y/o servicios.</span><br>
                                <span class="list">	Clientes, Empleados, Proveedores.</span><br>
                                <span class="list">	Datos de la empresa facturadora.</span><br>
                                <span class="list">	Rangos de facturación.</span><br>
                                <span class="list">	Certificado de firma digital.</span><br>
                                <span class="list">	Usuarios y roles de usuario.</span><br>
                                <span class="list">	Registro de impuestos (IVA, ICA) DIAN para FACTURA ELECTRÓNICA.</span><br>
                                <span class="list">	Formas y medios de pago según la DIAN para FACTURA ELECTRÓNICA.</span><br>
                                <span class="list">	Monedas y tasas de cambio según la DIAN para FACTURA ELECTRÓNICA.</span><br>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </section>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
