<main class="page landing-page">
   <!-- Start: Social Menu Sticky -->
   <div id="fixed-social">
      <div><a class="fixed-facebook" href="https://www.facebook.com/lopezsoft.co/" target="_blank"><i class="fab fa-facebook-f"></i><span>&nbsp;Facebook</span></a></div>
      <div><a class="fixed-wathsapp" href="https://api.whatsapp.com/send?phone=573016209737&amp;data=AbudydJ8bPEoxAMSIJSERVIIjKGkoRlKaNvcJfZ-mAZFKMePlW3VQiCRugrWIbyolS60p5mw4NlR8tpeZBsfRWiYWyS69JyIlwutgqVeG353nnQ2VmuxBxVqAEzMxhMX0Vg&amp;source=FB_Ads"
              target="_blank"><i class="fab fa-whatsapp"></i><span>&nbsp;Wathsapp</span></a></div>
  </div>
  <!-- End: Social Menu Sticky -->
  <section id="home" data-aos="fade-up" class="clean-block clean-hero full-height" style="color: rgba(5, 5, 5, 0.904);background: url(assets/img/matias-factura-electronica.jpg?h=546a47bc8d018c25d25e4d9ca0370def) center / cover;">
      <div class="text" style="max-width: 100%;">
          <div class="row">
              <div class="col col-12 col-sm-12 col-md-7" style="padding-top: 10px;padding-bottom: 10px;">
                  <div style="padding: 5px;">
                      <h2 class="pulse animated text-center"><strong>FACTURACIÓN&nbsp;</strong><br><strong>ELECTRÓNICA COLOMBIA</strong><br></h2>
                      <p class="lead text-justify" data-aos="fade-right" data-aos-duration="50" data-aos-delay="100" data-aos-once="true">Envíe sus documentos electrónicos&nbsp; a la DIAN de forma fácil y segura.<br></p>
                      <h3 class="text-left pulse animated" style="color: rgb(255,255,255);text-shadow: 0px 0px 2px rgb(255,255,255);border-color: rgb(82,49,25);font-size: 41px;"><strong>SOFTWARE PROPIO</strong></h3>
                      <ul class="list-unstyled fa-ul" data-aos="fade-right" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
                          <li class="text-left"><i class="fa fa-check-square-o fa-li" style="color: #ffffff;"></i>Hacemos el proceso de habilitación ante la <strong>DIAN </strong>completamente <strong><em>GRATIS</em></strong>.</li>
                          <li class="text-left"><i class="fa fa-check-square-o fa-li" style="color: #ffffff;"></i><strong>APP Móvil</strong></li>
                          <li class="text-left"><i class="fa fa-check-square-o fa-li" style="color: #ffffff;"></i>Disponible <strong>24/7</strong></li>
                          <li class="text-left"><i class="fa fa-check-square-o fa-li" style="color: #ffffff;"></i>Soporte técnico y asesoría personalizada</li>
                          <li class="text-left"><i class="fa fa-check-square-o fa-li" style="color: #ffffff;"></i>Cursos virtuales certificados&nbsp;en SG-SST&nbsp; hasta para 20 personas<br></li>
                          <li class="text-left"><i class="fa fa-check-square-o fa-li" style="color: #ffffff;"></i><strong>Certificado de firma digital</strong></li>
                      </ul><a class="btn btn-success btn-lg" role="button" href="https://www.dian.gov.co/impuestos/factura-electronica/Documents/Calendario-FE-2020.pdf" target="_blank" style="border-radius: 28px;">Calendario DIAN</a></div>
              </div>
              <div class="col col-12 col-sm-12 col-md-5">
                  <div>
                      <form class="flash animated" id="form"  (ngSubmit)="onSave()" [formGroup]="myForm">
                          <h1 class="text-break text-center" style="font-size: 58px;padding-bottom: 30px;"><strong>¡¡¡Inicia ya!!!</strong><br></h1>
                          <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="Ingrese su nombre y apellidos" required=""
                            formControlName ="username" [class.is-invalid]="invalidUserName">
                            <!-- <small class="text-danger" *ngIf="invalidUserName">Ingrese su nombre y apellidos</small> -->
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text" required="" name="company" placeholder="Nombre de la empresa"
                            formControlName="company" [class.is-invalid]="invalidCompany">
                            <!-- <small class="text-danger" *ngIf="invalidCompany">Ingrese el nomnbre de la empresa</small> -->
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text" name="email" placeholder="Correo electrónico" required="" inputmode="email"
                            formControlName="email" [class.is-invalid]="invalidEmail">
                            <!-- <small class="text-danger" *ngIf="invalidEmail">Ingrese el correo electrónico</small> -->
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text" name="mobile" placeholder="Teléfono celular" required="" inputmode="numeric"
                            formControlName="mobile" [class.is-invalid]="invalidMobile">
                            <!-- <small class="text-danger" *ngIf="invalidMobile">Ingrese un teléfono celular</small> -->
                          </div>
                          <button class="btn btn-info btn-block btn-lg" type="submit" style="border-radius: 28px;">
                            <strong>Iniciar ahora</strong><i class="fa fa-check" style="text-align: left;padding-left: 10px;"></i>
                          </button>
                          <label
                              style="padding: 15px;font-size: 12px;">Al enviar sus datos, manifiesta estar de acuerdo con nuestra
                              <a href="assets/docs/Protección de datos personales.pdf" target="_blank"><strong>política de protección de datos.</strong></a></label>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section style="background-color: #ffffff;">
      <div style="padding: 20px;">
        <h2 class="text-center">Planes desde <span class="text-orange bold">$ 22.000</span> mensuales.</h2>
      </div>
      <div class="d-lg-flex justify-content-lg-center align-items-lg-center" style="width: 450px;margin: auto;padding: 20px;">
        <a class="btn btn-warning btn-lg" [routerLink]="['/planes']" role="button" style="border-radius: 28px;">Ver planes</a>
      </div>
  </section>
  <section class="section-blue">
      <div class="container">
          <section class="index-howto-alt py-3" style="color: rgb(255,255,255);">
              <div class="container">
                  <h2 class="text-center mb-3">¿Por qué elegirnos?</h2>
                  <div class="psd-line pos-rel" style="position:relative;">
                      <div class="row align-items-center">
                          <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-1 p-5"><img class="howto-img" src="assets/img/matias-desarrollo-integral.png?h=b09778a0c1cfffe7ed97295f32f63231">
                              <!-- <h2 class="grey-text d-none">Üyelik Tipini Seçerek Kayıt Olun</h2> -->
                          </div>
                          <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left1">
                              <p class="m-0 text-center text-sm-left">Hemos desarrollado una solución, sencilla pero potente, que le permitirá llevar su negocio a otro nivel. Nuestra solución es ideal para:<strong> Profesionales independientes, empresas de servicios, </strong>micro empresas
                                  o pymes que quieran llevar su control de <strong>inventarios y sistema pos </strong>a la nube.</p>
                          </div>
                      </div>
                      <div class="row flex-column-reverse align-items-center flex-sm-row">
                          <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right1">
                              <p class="m-0 text-center text-sm-right">Generación de reportes y estadísticas en tiempo real y en múltiples formatos (<br><strong>Word, Excel, PowerPoint y PDF</strong>).&nbsp;<br></p>
                          </div>
                          <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-2 p-5"><img class="howto-img" src="assets/img/matias-reports.png?h=2ede5eb1a8d678c9a3b8d5979e9d7641">
                              <!-- <h2 class="grey-text d-none">Neye İhtiyacınız Varsa Belirtin</h2> -->
                          </div>
                      </div>
                      <div class="row flex-column-reverse align-items-center flex-sm-row">
                          <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right2">
                              <p class="m-0 text-center text-sm-right">Evite retrasos con la implementación de la facturación electrónica, nosotros nos encargamos de todo el proceso de implementación y <strong>habilitación ante la DIA</strong>N y del proceso de <strong>emisión del Certificado </strong>de
                                  firma digital por <strong>Certicamara</strong>.<br></p>
                          </div>
                          <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-4 p-5"><img class="howto-img" src="assets/img/matias-firma-digitla-factura-electronica.png?h=ee63a407e02a15515e68672259eb6eee"></div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </section>
  <section class="clean-block features" style="background-color: #b02088;">
      <div class="container">
          <h3 style="color: rgb(255,255,255);text-align: center;margin: auto;padding-top: 20px;padding-bottom: 20px;">Software en la nube para <strong>facturación electrónica</strong>, control de inventarios, sistema pos, compras, proveedores, Etc. Todo integrado en una solo herramienta.</h3>
      </div>
      <div class="container">
          <div class="row">
              <div class="col col-12 col-sm-12 col-xs-4 col-md-4">
                  <div class="card thum-purple"><img class="card-img-top w-100 d-block" src="assets/img/matias-inventarios.png?h=85d7bf4fee68654b636a065a402c9c8f">
                      <div class="card-body">
                          <h5 class="text-center card-title"><strong>Control de inventarios</strong></h5>
                          <p class="card-text">Potencie el control de existencias de su negocio, evite perdida de mercancía, <strong>control de caducidades</strong>, control de<strong> productos, categorías o familias</strong> de productos, <strong>marcas, unidades de medida</strong>.</p>
                      </div>
                  </div>
              </div>
              <div class="col col-12 col-sm-12 col-xs-4 col-md-4">
                  <div class="card thum-purple"><img class="card-img-top w-100 d-block" src="assets/img/matias-transaction-factura-electronica.png?h=ec821a241d60719b236208824ecfeb59">
                      <div class="card-body">
                          <h5 class="card-title"><strong>Facturación electrónica</strong></h5>
                          <p class="card-text">Cumpla con todas las <strong>exigencias de la DIAN</strong> en el envío de los documentos electrónicos. envíe <strong>Facturas electrónicas, notas débito y crédito, facturas por contingencia, </strong>correos a sus clientes.</p>
                      </div>
                  </div>
              </div>
              <div class="col col-12 col-sm-12 col-xs-4 col-md-4">
                  <div class="card thum-purple"><img class="card-img-top w-100 d-block" src="assets/img/matias-sistema.pos.png?h=dc7f4e5baa2593ba3361757af1f30206">
                      <div class="card-body">
                          <h5 class="card-title"><strong>Sistema pos</strong></h5>
                          <p class="card-text">Maneje su punto de venta de forma ágil y sencilla, monitorización en tiempo real, apertura, cuadre y cierre de cajas desde cualquier lugar.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="clean-block features full-height" style="background: url(assets/img/matias-app-movil.jpg?h=0c3eb4c93cb495b1675a82e0e149174f) center / cover">
      <div class="container" style="background-color: rgba(255,255,255,0.67);">
          <h3 class="text-blue text-center" style="padding-top: 30px;padding-bottom: 20px;">Próximamente desde su móvil podrá hacer:&nbsp;<strong>facturación electrónica</strong>, control de inventarios, reportes y estadísticas, compras, proveedores.</h3>
      </div>
  </section>
  <section style="background: url(assets/img/matias-direccion-bogota.jpg?h=c04ff1b71c658190d29de8f15e61fc0c) center / cover;">
      <div style="background-color: rgba(4,3,3,0.81);" class="full-height">
          <div class="container">
              <div class="row" style="margin-left: 0px;margin-right: 0px;padding: 10px;padding-top: 100px;">
                  <div class="col-md-6" style="padding-left:20px;padding-right:20px;">
                      <div class="table-responsive">
                          <table class="table">
                              <tbody style="color: rgb(255,255,255);">
                                  <tr>
                                      <td><i class="fa fa-building"></i></td>
                                      <td>Carrera 7 Nº. 156-68 Piso 11&nbsp;North Point Towers Torre 3 oficina 1103.<br></td>
                                  </tr>
                                  <tr>
                                      <td><i class="fa fa-map-marker"></i></td>
                                      <td>Bogotá D.C Colombia, Oficina comercial.</td>
                                  </tr>
                                  <tr>
                                      <td><i class="fa fa-phone"></i></td>
                                      <td><strong>Fijo</strong>: (57) (1) 307-3388. <strong>Cel</strong>: (57) 301-620-9737<br></td>
                                  </tr>
                                  <tr>
                                      <td><i class="fa fa-envelope"></i></td>
                                      <td>ventas@matias-api.com.co<br></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="col-md-6" style="padding-left:20px;padding-right:20px;">
                      <div class="table-responsive">
                          <table class="table">
                              <tbody style="color: rgb(255,255,255);">
                                  <tr>
                                      <td><i class="fa fa-building"></i></td>
                                      <td>Cra 15 #57-38, Santa Teresita.</td>
                                  </tr>
                                  <tr>
                                      <td><i class="fa fa-map-marker"></i></td>
                                      <td>Dosquebradas Risaralda Colombia</td>
                                  </tr>
                                  <tr>
                                      <td><i class="fa fa-phone"></i></td>
                                      <td><strong>Fijo</strong>: (57) (6) 342-3070&nbsp;<strong>Cel</strong>: (57) 310-843-5431<br></td>
                                  </tr>
                                  <tr>
                                      <td><i class="fa fa-envelope"></i></td>
                                      <td>soporte@matias-api.com.co<br></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
<router-outlet></router-outlet>
