<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
  <div class="container"><a class="navbar-brand logo" [routerLink]="['/']"><img src="assets/img/brand/matias-app-64.png?h=040d6c2d295092886ead53f6238a93e7"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div
          class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Inicio</a></li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/caracteristicas']" routerLinkActive="active">CARACTERISTICAS</a></li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/planes']" routerLinkActive="active">planes</a></li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/nosotros']" routerLinkActive="active">nosotros</a></li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a></li>
          </ul>
  </div><a class="btn btn-info" role="button" style="border-radius: 28px;" href="https://matias-api.com.co/login" target="_blank"><strong>Iniciar sesión</strong></a></div>
</nav>
<router-outlet></router-outlet>
