<app-header></app-header>
<main class="page pricing-table-page">
  <section style="padding-top: 50px;background: url(/assets/img/matias-factura-electronica-inventarios-pos.jpg?h=de99314b38321a96788a8a8f1ac92b84) center / cover;background-color: rgba(48,47,47,0.13);">
    <div data-aos="flip-right" data-aos-duration="200" data-aos-once="true"
      class="text-center clean-block clean-pricing dark"
      style="padding-top: 100px;background-color: rgba(5,13,30,0.89);">
      <h6 style="max-width: 768px;margin: auto;padding-bottom: 15px;color: rgb(255,255,255);"><strong>Todos los planes
          cuentan con un %5 de descuento no incluido en los precios, al adquirir su plan, se le aplicará dicho
          descuento.</strong><br></h6>
      <h5 style="max-width: 768px;margin: auto;color: rgb(255,255,255);"><strong>Precios para solo Facturación
          Electrónica</strong><br></h5>
      <p style="max-width: 768px;margin: auto;color: #ffffff;font-size: 20px;"><br>A continuación, encontrará los
        precios de los dos planes que disponemos para&nbsp;la emisión de documentos electrónicos que se reportan a la
        DIAN bajo el esquema&nbsp;de facturación electrónica.<br><br>Estos planes son ideales para
        micro empresas o empresas de servicios y profesionales&nbsp;independientes, que no necesitan llevar un control
        de inventarios.<br></p>
    </div>
  </section>
  <section class="clean-block clean-pricing dark" style="background-color: #0070c0;padding-top: 50px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 padding-10" data-aos="fade-right" data-aos-duration="150">
          <div class="pricing-item">
            <div class="header-table standar">
              <p class="text-center"><strong class="header-title">Estándar</strong><br>
                <span class="header-payment-year">Pago mensual o anual</span><br>
                <span class="header-payment-month">$ 22.000</span><small>/Mes</small><br>
                <span class="header-payment-year">$ 264.000 anual</span>
              </p>
            </div>
            <div class="standar-triangle"></div>
            <div class="list text-center">
              <span class="list-items no-certificate"> No Incluye certificado digital.</span><br>
              <span class="list-items"> 1.000 documentos mensuales.</span><br>
              <span class="list-items"> 1 sucursal.</span><br>
              <span class="list-items"> Habilitación ante la DIAN.</span><br>
              <span class="list-items"> 2 usuarios.</span><br>
              <span class="list-items red"> App Móvil.</span><br>
              <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
              <span class="list-items"> Soporte técnico.</span><br>
              <span class="list-items"> Capacitaciones.</span><br>
              <span class="list-items"> Reportes y estadísticas.</span><br>
              <span class="list-items red"> 3 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                <a class="btn btn-primary btn-block" role="button" [routerLink]="['/home']">COMPRAR&nbsp;<i
                    class="fas fa-money-check"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 padding-10" data-aos="fade-right" data-aos-duration="150" data-aos-delay="300">
          <div class="pricing-item">
            <div class="header-table standar">
              <p class="text-center"><strong class="header-title">Estándar</strong><br>
                <span class="header-payment-year">Pago anual</span><br>
                <span class="header-payment-month">$ 36.000</span><small>/Mes</small><br>
                <span class="header-payment-year">$ 432.000 anual</span>
              </p>
            </div>
            <div class="standar-triangle"></div>
            <div class="list text-center">
              <span class="list-items certificate"> Incluye certificado digital.</span><br>
              <span class="list-items"> 1.000 documentos mensuales.</span><br>
              <span class="list-items"> 1 sucursal.</span><br>
              <span class="list-items"> Habilitación ante la DIAN.</span><br>
              <span class="list-items"> 2 usuarios.</span><br>
              <span class="list-items red"> App Móvil.</span><br>
              <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
                <span class="list-items"> Soporte técnico.</span><br>
                <span class="list-items"> Capacitaciones.</span><br>
                <span class="list-items"> Reportes y estadísticas.</span><br>
                <span class="list-items red"> 3 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                <a class="btn btn-primary btn-block" role="button" [routerLink]="['/home']">COMPRAR&nbsp;<i
                    class="fas fa-money-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block clean-pricing dark" style="padding-top: 50px;background-color: rgb(255,255,255);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 padding-10" data-aos="fade-left" data-aos-duration="150" data-aos-delay="150"
          data-aos-once="true">
          <div class="pricing-item">
            <div class="header-table full">
              <p class="text-center"><strong class="header-title">ILIMITADO</strong><br>
                <span class="header-payment-year">Pago mensual o anual</span><br>
                <span class="header-payment-month">$ 33.000</span><small>/Mes</small><br>
                <span class="header-payment-year">$ 396.000 anual</span>
              </p>
            </div>
            <div class="full-triangle"></div>
            <div class="list text-center">
              <span class="list-items no-certificate"> No Incluye certificado digital.</span><br>
              <span class="list-items"> Documentos ilimitados.</span><br>
              <span class="list-items"> 1 sucursal.</span><br>
              <span class="list-items"> Habilitación ante la DIAN.</span><br>
              <span class="list-items"> 2 usuarios.</span><br>
              <span class="list-items red"> App Móvil.</span><br>
              <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
              <span class="list-items"> Soporte técnico.</span><br>
              <span class="list-items"> Capacitaciones.</span><br>
              <span class="list-items"> Reportes y estadísticas.</span><br>
              <span class="list-items red"> 6 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                <a class="btn btn-primary btn-block" role="button" [routerLink] ="['/#home']">COMPRAR&nbsp;<i
                    class="fas fa-money-check"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 padding-10" data-aos="fade-left" data-aos-duration="150" data-aos-delay="450"
          data-aos-once="true">
          <div class="pricing-item">
            <div class="header-table full">
              <p class="text-center"><strong class="header-title">ILIMITADO</strong><br>
                <span class="header-payment-year">Pago anual</span><br>
                <span class="header-payment-month">$ 46.000</span><small>/Mes</small><br>
                <span class="header-payment-year">$ 552.000 anual</span>
              </p>
            </div>
            <div class="full-triangle"></div>
            <div class="list text-center">
              <span class="list-items certificate"> Incluye certificado digital.</span><br>
              <span class="list-items"> Documentos ilimitados.</span><br>
              <span class="list-items"> 1 sucursal.</span><br>
              <span class="list-items"> Habilitación ante la DIAN.</span><br>
              <span class="list-items"> 2 usuarios.</span><br>
              <span class="list-items red"> App Móvil.</span><br>
              <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
              <span class="list-items"> Soporte técnico.</span><br>
              <span class="list-items"> Capacitaciones.</span><br>
              <span class="list-items"> Reportes y estadísticas.</span><br>
              <span class="list-items red"> 6 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                <a class="btn btn-primary btn-block" role="button" [routerLink] ="['/#home']">COMPRAR&nbsp;<i
                    class="fas fa-money-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-aos="fade-left" data-aos-duration="300" data-aos-once="true"
    style="background: url(/assets/img/matias-factura-electronica-inventarios-pos.jpg?h=de99314b38321a96788a8a8f1ac92b84) center / cover;">
    <div class="text-center clean-block clean-pricing dark" style="background-color: rgba(55,16,0,0.82);">
      <h5 style="max-width: 768px;margin: auto;padding-top: 50px;color: rgb(255,255,255);">
        <strong>Precios&nbsp;Facturación Electrónica + Inventarios + Sistema POS</strong><br></h5>
      <p style="max-width: 768px;color: rgb(255,255,255);margin: auto;font-size: 20px;"><br>A continuación, encontrará
        los precios de los dos planes que disponemos para&nbsp;la emisión de documentos electrónicos que se reportan a
        la DIAN bajo el esquema&nbsp;de facturación electrónica.<br><br>Estos planes son ideales para
        micro empresas o pymes que necesitan una<br>solución más elaborada, que les permita llevar un control de
        inventarios,<br>registro de compras, proveedores, cotizaciones Etc.<br></p>
    </div>
  </section>
  <section class="clean-block clean-pricing dark" style="padding-top: 50px;background-color: rgb(255,255,255);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 padding-10" data-bs-hover-animate="pulse">
          <div class="pricing-item">
            <div class="header-table standar-red">
              <p class="text-center"><strong class="header-title">PYME Estándar</strong><br>
                <span class="header-payment-year">Pago mensual o anual</span><br>
                <span class="header-payment-month">$ 45.000</span><small>/Mes</small><br>
                <span class="header-payment-year">$ 540.000 anual</span>
              </p>
            </div>
            <div class="standar-triangle-red"></div>
            <div class="list text-center">
              <span class="list-items no-certificate"> No incluye certificado digital.</span><br>
              <span class="list-items red"> Inventarios.</span><br>
              <span class="list-items red"> Sistema Pos.</span><br>
              <span class="list-items red"> Cotizaciones.</span><br>
              <span class="list-items red"> Proveedores y compras.</span><br>
              <span class="list-items"> 1.000 documentos mensuales.</span><br>
              <span class="list-items"> 1 sucursal.</span><br>
              <span class="list-items"> Habilitación ante la DIAN.</span><br>
              <span class="list-items"> 2 usuarios.</span><br>
              <span class="list-items red"> App Móvil.</span><br>
              <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
              <span class="list-items"> Soporte técnico.</span><br>
              <span class="list-items"> Capacitaciones.</span><br>
              <span class="list-items"> Reportes y estadísticas.</span><br>
              <span class="list-items red"> 3 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                <a class="btn btn-primary btn-block" role="button" [routerLink] ="['/#home']">COMPRAR&nbsp;<i
                    class="fas fa-money-check"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 padding-10" data-bs-hover-animate="pulse">
          <div class="pricing-item">
            <div class="header-table standar-red">
              <p class="text-center"><strong class="header-title">PYME Estándar</strong><br>
                <span class="header-payment-year">Pago anual</span><br>
                <span class="header-payment-month">$ 58.000</span><small>/Mes</small><br>
                <span class="header-payment-year">$ 696.000 anual</span>
              </p>
            </div>
            <div class="standar-triangle-red"></div>
            <div class="list text-center">
              <span class="list-items certificate"> Incluye certificado digital.</span><br>
              <span class="list-items red"> Inventarios.</span><br>
              <span class="list-items red"> Sistema Pos.</span><br>
              <span class="list-items red"> Cotizaciones.</span><br>
              <span class="list-items red"> Proveedores y compras.</span><br>
              <span class="list-items"> 1.000 documentos mensuales.</span><br>
              <span class="list-items"> 1 sucursal.</span><br>
              <span class="list-items"> Habilitación ante la DIAN.</span><br>
              <span class="list-items"> 2 usuarios.</span><br>
              <span class="list-items red"> App Móvil.</span><br>
              <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
              <span class="list-items"> Soporte técnico.</span><br>
              <span class="list-items"> Capacitaciones.</span><br>
              <span class="list-items"> Reportes y estadísticas.</span><br>
              <span class="list-items red"> 3 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                <a class="btn btn-primary btn-block" role="button" [routerLink] ="['/#home']">COMPRAR&nbsp;<i
                    class="fas fa-money-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    style="background: url(/assets/img/matias-planes.jpg?h=744cdbb2e814104b5a49e576b6e7fd43) center / cover;background-color: #ffffff;filter: sepia(0%);">
    <div class="clean-block clean-pricing dark" style="background-color: rgba(33,29,29,0.46);padding-top: 100px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-12 col-md-6 padding-10" data-bs-hover-animate="pulse">
            <div class="pricing-item">
              <div class="header-table full-purple">
                <p class="text-center"><strong class="header-title">PYME ILIMITADO</strong><br>
                  <span class="header-payment-year">Pago mensual o anual</span><br>
                  <span class="header-payment-month">$ 65.000</span><small>/Mes</small><br>
                  <span class="header-payment-year">$ 780.000 anual</span>
                </p>
              </div>
              <div class="full-triangle-purple"></div>
              <div class="list text-center">
                <span class="list-items no-certificate"> No incluye certificado digital.</span><br>
                <span class="list-items purple"> Inventarios.</span><br>
                <span class="list-items purple"> Sistema Pos.</span><br>
                <span class="list-items purple"> Cotizaciones.</span><br>
                <span class="list-items purple"> Proveedores y compras.</span><br>
                <span class="list-items"> Documentos ilimitados.</span><br>
                <span class="list-items"> 1 sucursal.</span><br>
                <span class="list-items"> Habilitación ante la DIAN.</span><br>
                <span class="list-items"> 5 usuarios.</span><br>
                <span class="list-items red"> App Móvil.</span><br>
                <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
                <span class="list-items"> Soporte técnico.</span><br>
                <span class="list-items"> Capacitaciones.</span><br>
                <span class="list-items"> Reportes y estadísticas.</span><br>
                <span class="list-items red"> 6 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                  <a class="btn btn-primary btn-block" role="button" [routerLink] ="['/#home']">COMPRAR&nbsp;<i
                      class="fas fa-money-check"></i></a></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 padding-10" data-bs-hover-animate="pulse">
            <div class="pricing-item">
              <div class="header-table full-purple">
                <p class="text-center"><strong class="header-title">PYME ILIMITADO</strong><br>
                  <span class="header-payment-year">Pago anual</span><br>
                  <span class="header-payment-month">$ 78.000</span><small>/Mes</small><br>
                  <span class="header-payment-year">$ 936.000 anual</span>
                </p>
              </div>
              <div class="full-triangle-purple"></div>
              <div class="list text-center">
                <span class="list-items certificate"> Incluye certificado digital.</span><br>
                <span class="list-items purple"> Inventarios.</span><br>
                <span class="list-items purple"> Sistema Pos.</span><br>
                <span class="list-items purple"> Cotizaciones.</span><br>
                <span class="list-items purple"> Proveedores y compras.</span><br>
                <span class="list-items"> Documentos ilimitados.</span><br>
                <span class="list-items"> 1 sucursal.</span><br>
                <span class="list-items"> Habilitación ante la DIAN.</span><br>
                <span class="list-items"> 5 usuarios.</span><br>
                <span class="list-items red"> App Móvil.</span><br>
                <span class="list-items"> Disponible <span class="red">24/7.</span></span><br>
                <span class="list-items"> Soporte técnico.</span><br>
                <span class="list-items"> Capacitaciones.</span><br>
                <span class="list-items"> Reportes y estadísticas.</span><br>
                <span class="list-items red"> 6 cursos virtuales certificados en SG-SST hasta para 20 personas.</span><br>
                  <a class="btn btn-primary btn-block" role="button" [routerLink] ="['/#home']">COMPRAR&nbsp;<i
                      class="fas fa-money-check"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
